{% extends "layout.html" %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for contract in contracts %}
                <tr>
                    <td>{{ contract["symbol"] }}</td>
                    <td>{{ contract["shares"] }}</td>
                    <td>${{ contract["price"] }}</td>
                    <td>{{ contract["created_at"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
